div li{
		display:inline;
		border-left:1px solid #999
		font:bold Dotum;
		padding:0 10px;
		text-decoration: none;
}

table { 
		width:100%; 
		line-height:16px; 
		border-top: 1px solid #cccccc; 
		border-left: 1px solid #cccccc; 
		border-collapse: collapse; 
} 
table th, td { 
		color:#678197; 
		text-align:center; 
		border-right: 1px solid #cccccc; 
		border-bottom: 1px solid #cccccc; 
		padding: 1px 0; 
		text-align:center; 
} 
table th { 
		background-color: #eeeeee; 
} 
